services:
  ###########################################################################
  # postgres database
  ###########################################################################
  postgres:
    image: postgres:17
    hostname: postgres
    container_name: postgres
    restart: unless-stopped
    command: >
      -c ssl=on
      -c ssl_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
      -c ssl_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
      -c wal_level=logical
      -c max_wal_senders=1
      -c max_replication_slots=1
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -q']
      interval: 60s
      start_period: 1m
      start_interval: 10s
      timeout: 15s
      retries: 5
  ###########################################################################
  # kafka broker + schema registry
  # Open:
  # https://redpanda.localhost.direct/
  ###########################################################################
  redpanda:
    image: redpandadata/redpanda:v24.2.10
    hostname: redpanda
    container_name: redpanda
    restart: unless-stopped
    expose:
      - 8081
      - 8082
      - 9644
      - 9092
      - 19092
    ports:
      - "8081:8081"
      - "8082:8082"
      - "19092:19092"
      - "9644:9644"
    volumes:
      - redpanda:/var/lib/redpanda/data
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      # Address the broker advertises to clients that connect to the Kafka API.
      # Use the internal addresses to connect to the Redpanda brokers' from inside the same Docker network.
      # Use the external addresses to connect to the Redpanda brokers' from outside the Docker network.
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
      # Address the broker advertises to clients that connect to the HTTP Proxy.
      # - --advertise-pandaproxy-addr redpanda:8082
      - --advertise-pandaproxy-addr internal://redpanda:8082,external://localhost:8082
      - --schema-registry-addr internal://redpanda:8081,external://localhost:8081
      # Mode dev-container uses well-known configuration properties for development in containers.
      - --mode dev-container
      - --check=false
      - --set redpanda.enable_transactions=true
      - --set redpanda.enable_idempotence=true
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health | grep -E 'Healthy:.+true' || exit 1"]
      interval: 15s
      timeout: 3s
      retries: 5
      start_period: 5s
  ###########################################################################
  # Redpanda Console UI
  # http://console.localhost.direct/admin/health
  # http://console.localhost.direct/admin/startup
  # http://console.localhost.direct/admin/metrics
  ###########################################################################
  console:
    image: redpandadata/console:v2.8.0-beta.1
    hostname: console
    container_name: console
    entrypoint: /bin/sh
    command: -c 'echo "$$CONSOLE_CONFIG_FILE" > /tmp/config.yml; /app/console'
    environment:
      KAFKA_BROKERS: 'redpanda:9092'
      KAFKA_CLIENTID: 'rpconsole;broker_count=1'
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda:9092"]
          schemaRegistry:
            enabled: true
            urls: ["http://redpanda:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda:9644"]
    ports:
      - 8080:8080
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/admin/health"]
      interval: 15s
      timeout: 5s
      retries: 5
    depends_on:
      redpanda:
        condition: service_healthy
  ###########################################################################
  # Redpanda connect (Benthos)
  # HealthChecks: https://docs.redpanda.com/redpanda-connect/guides/monitoring/
  ###########################################################################
  connect:
    hostname: connect
    container_name: connect
    profiles: [optional]
    image: redpandadata/connect:4.39.0
    environment:
        KAFKA_SEED_BROKERS: redpanda:9092
    volumes:
      - ./pipelines/bitmex.connect.yaml:/connect.yaml
      # - /Users/aervits/.ssh/rsa_key.pem:/rsa_key.pem
    ports:
      - 4195:4195
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4195/ready" ]
      interval: 15s
      timeout: 5s
      retries: 5
    depends_on:
      redpanda:
        condition: service_healthy
      console:
        condition: service_healthy
  ###########################################################################
  # minio
  ###########################################################################
  minio:
    image: bitnami/minio:2024.11.7
    hostname: minio
    container_name: minio
    restart: unless-stopped
    profiles: [optional]
    volumes:
      - minio:/bitnami/minio/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_DEFAULT_BUCKETS: ${MINIO_DEFAULT_BUCKETS:-apps:download,public:public}
      MINIO_SKIP_CLIENT: "yes"
    ports:
      - '9000:9000'
      - '9001:9001'
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 60s
      start_period: 1m
      start_interval: 10s
      timeout: 15s
      retries: 5

  ###########################################################################
  # clickhouse
  ###########################################################################
  clickhouse:
    image: clickhouse/clickhouse-server:24.9.2
    hostname: clickhouse
    container_name: clickhouse
    profiles: [optional]
    ports:
      - 8123:8123
      - 9010:9000
      - 9009:9009
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--tries=3", "--spider", "-q", "localhost:8123/ping"]
      interval: 5s
      timeout: 3s
    volumes:
      - clickhouse:/var/lib/clickhouse
  ###########################################################################
  # arroyo service
  ###########################################################################
  arroyo:
    image: ghcr.io/arroyosystems/arroyo:latest
    # image: ghcr.io/arroyosystems/arroyo-single:latest
    hostname: arroyo
    container_name: arroyo
    environment:
      - DATABASE_HOST=postgres
      - DATABASE_NAME=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
    ports:
      - 5115:5115
    entrypoint: >
      bash -c "/app/arroyo migrate && /app/arroyo cluster"
    volumes:
      - ./config/arroyo.toml:/app/arroyo.toml:ro
    depends_on:
      postgres:
        condition: service_healthy
      # minio:
      #   condition: service_healthy
      redpanda:
        condition: service_healthy
###########################################################################
# volumes
###########################################################################
volumes:
  pg_data: {}
  minio: {}
  clickhouse: {}
  redpanda: {}